<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Active bookings</title>
</head>
<body>
<a th:href="@{/}">Start menu</a>
<br>
<a th:href="@{/bookings}">Back</a>
<hr>
Active bookings:
<div th:each="activeBooking : ${activeBookings}">
    <a th:href="@{/bookings/{id}(id=${activeBooking.getId()})}" th:text="${personsRepository.show(activeBooking.getPersonId()).getFullName() + '-' + booksRepository.show(activeBooking.getBookId()).getFullName()}">activeBooking</a>
</div>
</body>
</html>