<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>All bookings</title>
</head>
<body>
<a th:href="@{/}">Start menu</a>
<br>
<a th:href="@{/bookings/active}">Active</a>

<a th:href="@{/bookings/finished}">Finished</a>

<a th:href="@{bookings/new}">New Booking</a>
<hr>
Bookings:
<div th:each="booking : ${bookings}">
    <a th:href="@{/bookings/{id}(id=${booking.getId()})}" th:text="${personsRepository.show(booking.getPersonId()).getFullName() + ' - ' + booksRepository.show(booking.getBookId()).getFullName()}">booking</a>
</div>
</body>
</html>